.big-text {
    color: rgba(78, 70, 70, 0.155);
    font-size: 70px;
    text-align: center;
    padding: 0;
    margin-block: 10px;
}

.inner-box {
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: 0%;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: rgba(19, 19, 19, 0.402) 0px 7px 29px 0px;
}

.signup-header h1 {
    text-align: center;
    font-size: 30px;
}

.signup-footer a {
    margin-left: 2px;
    color: rgba(100, 49, 255, 0.505);
}
.signup-body {
    padding: 20px 0px;
}

.signup-body p {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}

.signup-body label {
    display: block;
}

.signup-body p input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 4px;
}

select {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid;
    margin-top: 4px;
}
#submit {
    background-color: #947bf7b8;
    padding: 8px 0;
    border: 1px solid rgba(255, 255, 255, 0.311);
    box-shadow: rgba(19, 19, 15, 0.402) 0px 7px 20px 0px;
}

#Individual {
    display: inline;
}
